img {
  width: 100%;
  border-radius: 10px;
}
.floatLeft {
  width: 50%;
  float: left;
}
.floatRight {
  width: 48%;
  float: right;
}
h2 {
  font-size: 2em;
  text-align: center;
  margin: 0 0 5px 0;
}
h3 {
  clear:both;
}
.bg-gray {
  border-radius: 10px;
  padding: 10px;
  background-color: #EBEBEB;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.welcome {
  font-style: italic;
  font-weight: bold;
}
.headerContainer {
  width: 100%;
}
.wunderbar {
  display: none;
}

@media screen and (max-width: 991px){
  .floatLeft {
    width: 100%;
    float: none;
    margin: auto;
  }
  .floatRight {
    width: 100%;
    float: none;
  }
  .wunderbar {
    position: fixed:
  }
}
