img {
  width: 100%;
  border-radius: 10px;
}
.floatLeft {
  width: 50%;
  float: left;
  margin: 10px 0 10px 0;
}
.floatRight {
  width: 48%;
  float: right;
}
h1 {
  background-color:#303030;
  color: white;
  font-variant: small-caps;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0 5px 0;
  text-align: center;
}
h2 {
  font-size: 2em;
  text-align: center;
  margin: 0 0 5px 0;
}
h3 {
  clear:both;
  background-color:#303030;
  color: white;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
}
.bg-gray {
  border-radius: 10px;
  padding: 10px;
  background-color: #EBEBEB;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.welcome {
  font-style: italic;
  font-weight: bold;
}
.headerContainer {
  width: 100%;
}
.jumbotron {
  background: url("../img/headerImg.jpg")no-repeat scroll 50% 50%;;
  background-attachment: fixed
  background-size: contain;
  margin-bottom: 5px;
}
h1.wunderbar {
  display: none;
}
img.illustration {
  border-radius: 0;
}
.col-md-3 {
  margin-bottom: 10px;
}
@media screen and (max-width: 991px){
  .floatLeft {
    width: 100%;
    float: none;
    margin: auto;
  }
  .floatRight {
    width: 100%;
    float: none;
  }
  body .wunderbar {
    display:inherit;
    font-size: 10vw;
    text-align: center;
    color: #303030;
    background-color:white;
    border: solid 3px #303030;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  h3 {
    text-align: center;
  }
  .jumbotron {
    display: none;
  }
  .wunderbar a {
    color: #303030;
  }
  strong {
    font-size: 15px;
  }
}

/* wunderbar styles */

.bg-img {
  background-image: url("../img/bg-img.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.container2 {
  width: 40%;
  margin: auto;
  text-align: center;
  border: solid 3px #303030;
  border-radius: 10px;
  padding: 5px;
  color: white;
  margin-top: 200px;
}
.container2 p {
  margin: 0;
  font-weight: bolder;
  font-size: 18px;
  background-color: #303030;
  border-radius: 10px;
  opacity: .8;
  padding: 20px;
}
.alert-info {
  border-radius: 10px;
}
